/*Reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;    
  margin: 0 auto;         
  padding-left: 40px;     
  padding-right: 20px;   
}

/*Start Header*/
.header {
    height: 70px;
    background-color: #e9e9e9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    z-index: 2;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo { 
    display: inline-block;
}

.header__logo img {
    height: 30px;
}

.header__ham {
    display: none;
    cursor: pointer;
    padding: 20px;
    text-align: center;
}

.nav {
  
}

.nav__logo {
    display: none;
}

.nav__logo img {
    height: 30px;
}
.nav li {
    display: inline-block;
}

.nav li a {
    color: #1d1d1d;
    text-decoration: none;
    padding: 0 8px;
    font-size: 15px;
}

.nav li:hover a {
    color: #10c9c3;
}

.nav__menu--mobile {
    padding: 10px;
}
.nav__menu--mobile li {
    list-style: none;
    padding: 8px;
    border-bottom: 1px solid #252525;
}

.nav__menu--mobile li a{
    text-decoration: none;
    color: #1d1d1d;
    font-size: 15px;
    transition: 0.2s;
} 
/*END Header*/

/*START Banner*/
.banner{
    margin-top: 70px;
    background-color: #e9e9e9;
}

.banner__box {
    max-width: 415px;
    margin-left: auto;
    padding: 180px 0px;

}

.box__title {

}

.box__text {
    margin-top: 20px;
    line-height: 25px;
}

.box__link--contact {
    max-width: 180px;
    height: 54px;
    background-color: #10c9c3;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}
/*END Banner*/

/*START content-about*/
.content__section {
    max-width: 670px;
    margin: 0 auto;
    padding: 80px 0;
}

.section__heading {
    text-align: center;
    font-size: 30px;
}

.section__sub-heading {
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 0.5;
}

.about__image {
    margin-top: 30px;
    text-align: center;
}
/*END content-about*/

/*START Content-skill*/
.skills {
    background-color: #f8f9f9;
    position: relative;
    z-index: 999;
}

.skill__box {
    display: flex;
}

.skill--left::after {
    content: '';
    width: 50%;
    background-color: #838383;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.skill--left {
    width: 50%;
    padding: 160px 0;
}
 

.skill__heading {
    font-size: 25px;
    margin-bottom: 30px;
}

.skill__item {
    font-size: 13px;
    margin-bottom: 25px;
}

.skill__bar{
    height: 4px;
    background-color: #e9e9e9;
    margin-right: 30px;
    margin-bottom: 30px;
}

.skill__percent-bar{
    background-color: #10c9c3;
    height: 100%;
}
/*END Content-skill*/

/*START Content-stat*/
.stat {
    background-color: #10c9c3;
    color: #fff;
}

.stat__wrap {
    display: flex;
    padding: 95px 0;
}
.stat__box {
    display: flex;
    margin-right: 60px;
}

.stat__icon{
    margin-right: 22px;
    font-size: 35px;
}

.stat__text {

}

.stat__number {
    font-size: 17px;
    margin-bottom: 8px;
}
/*END Content-stat*/

/*START Content-grid*/
.grid{
    background-color: #838383;
}

.grid--top {
    display: flex;
}

.grid--mid {
    display: flex;
}

.grid--bottom {
    display: none;
}

.grid__box {
    width: 25%;
    padding: 145px 0;
    text-align: center;
}
.grid--top .grid__box:nth-child(even) {
    background-color: #dddddd;
}

.grid--mid .grid__box:nth-child(odd) {
    background-color: #dddddd;
}

.grid--bottom .grid__box:nth-child(even) {
    background-color: #dddddd;
}

.grid__icon {
    font-size: 40px;
    color: #838383;
    opacity: 0;
}

.grid__box:hover {
    background-color: #252525;
}

.grid__icon:hover {
    opacity: 1;
}

.grid--bottom.load {
    display: flex;
}

/* END: Content-grid*/

/*START Content-load*/
.load-work {
    background-color: #f5f5f5;
    text-align: center;
    padding: 40px 0;
}

.load__title {
    padding: 40px 0;
    cursor: pointer;
}

.load-work:hover {
    background-color: #10c9c3;
    color: #fff;
}
/*END Content-load*/

/*START Content-video*/

.video__section {
    background-color: #e9e9e9;
    width: 100%;
    margin-bottom: 95px;
    position: relative;
    padding: 230px 0;
}

.video__myVideo {
    width: 100%;
    height: 100%;
    display: none;
}

.video__play-video {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 85px;
    width: 90px;
    background-color: #10c9c3;
    border: 1px solid #10c9c3;
    border-radius: 43px;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;    
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.video__play-icon {
    color: #fff;
}
/*START CSS-JS Content-video*/
.video__section.play {
    padding: 0;
}
.video__play-video.play {
    display: none;
}

.video__myVideo.play {
    display: block;
}
/*END CSS-JS Content-video*/

/*END Content-video*/

/*START Content-career*/
.career {
    background-color: #f5f5f5;
    padding: 100px 0;
}

.career--top, .career--bottom{
    display: flex;
}

.career__box {
    width: 25%;
    text-align: center;
}

.career__icon {
    font-size: 40px;
    font-weight: 50;
    opacity: 0.7;
    margin-bottom: 28px;
}

.career__title {
    font-size: 16px;
    opacity: 0.8;
    margin-bottom: 28px;
}

.career__label {
    font-size: 15px;
    opacity: 0.5;
    line-height: 25px;
    margin-bottom: 50px;
}
/*END Content-career*/

/*START Content-testimonials*/
.testimonials {
    background-color: #10c9c3;
    color: #fff;
    text-align: center;
    padding: 165px;
}

.testimonials__mess {
    font-size: 29px;
    line-height: 37 px;
    margin-bottom: 30px;
}
/*END Content-testimonials*/

/*START Content-Badge-Logo*/
.badge {
    padding: 30px 0;
}

.badge__wrap {
    display: flex;
}

.badge__logo {
    width: 20%;
}

/*END Content-Badge-Logo*/

/*Content Contact*/
.contact {
    background-color: #f5f5f5;
}

.contact__form {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.contact__row {
    width: 675px;
}

.contact--col {
    width: 100%;
    display: flex;
    gap: 30px;
}

.form--half  {
   width: 50%;
}

.contact--col, .contact--col-full, 
.contact--col-height {
    margin-bottom: 28px;
}

.form--control {
    width: 100%;
}

.form--half, .form--control {
    padding: 15px 0 15px 20px;
    border: none;
}

.contact__submit {
    width: 183px;
    height: 56px;
    background-color: #10c9c3;
    color: #fff;
    border: none;
    margin-bottom: 90px;
    cursor: pointer;
}
/*Content Contact*/

/*START Footer*/
.footer{
    background-color: #141414;
    color: #fff;
    padding: 90px 0;
}

.footer__wrap {
    display: flex;
}

.footer__infor {
    margin-right: 235px;
}

.footer__infor-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer__infor-text, .footer__contact-text, .footer__name-heading, .footer__name-choice, .footer__name-app {
    line-height: 33px;
    opacity: 0.5;
}

.footer__title {
    display: flex;
}

.footer__contact {
    margin-right: 135px;
}

.footer__contact-text li {
    list-style: none;
}

.footer__contact-text li a {
    color: #fff;
    text-decoration: none;
}

.footer__heading {
    margin-right: 35px;
}

.footer__name-heading li  {
    list-style: none;
}

.footer__name-heading li a {
    color: #fff;
    text-decoration: none;
}

.footer__choice {
    margin-right: 125px;
}
.footer__name-choice li  {
    list-style: none;
}

.footer__name-choice li a {
    color: #fff;
    text-decoration: none;
}

.footer__name-app li  {
    list-style: none;
}

.footer__name-app li a {
    color: #fff;
    text-decoration: none;
}
/*END Footer*/


/*Responsive*/
@media (max-width: 768px) {
    .no-scroll {
        overflow: hidden;
    }
    
    .header__ham {
        display: block;
        position: relative;
        z-index: 1000;
    }

    #isOpen {
        display: inline-block;
    }

    #isClose {
        display: none;
    }

    #isOpen.hidden {
        display: none;
    }

    #isClose.show {
        display: inline-block;
    }

    .nav {
        /*display: none;*/
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: -100%;
        visibility: hidden;
        transition: 0.7s ease-in-out;
    }
    
    .nav__logo {
      display: inline-block;
      margin: 30px 10px;
    }

    .nav__list {
        background-color: #10c9c3;
        height: 100vh;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .nav__list li {
        padding:10px 0;
        border-bottom: 1px solid #252525;
    }
    .nav.active {
        visibility: visible;
        left: 0;
    }

    .banner {
        margin-top: 0;
    }

    .banner__box {
        margin: auto;
    }

    .section__sub-heading {
        line-height: 1.2;
    }

    .skill--left::after {
        width: 0;
    }

    .skill--left {
        width: 100%;
    }

    .stat__wrap {
        display: block;
    }

    .grid--top {
        display: block;
    }

    .grid--mid {
        display: block;
    }

    .grid--bottom.load {
        display: block;
    }

    .grid__box {
        width: 100%;
    }

    .career--top, .career--bottom{
        display: block;
    }

    .career__box {
        width: 100%;
    }

    .testimonials {
        font-size: 15px;
        padding: 5px 5px;
    }

    .badge__wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .badge__logo {
        margin-bottom: 20px;
    }

    .footer__wrap {
        display: block;
        text-align: center;
    }

    .footer__infor {
        margin-right: 0;
    }

    .footer__title {
        margin-top: 10px;
        justify-content: space-evenly
    }
    .footer__contact {
        margin-right: 0;
    }

    .footer__heading {
        margin-right: 0;
    }

    .footer__choice {
        margin-right: 0;
    }
}
